body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right, rgb(246, 91, 91), rgb(0, 38, 255), rgb(255, 0, 242));
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

.container {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
}

.calculator-grid {
    border: 1px solid;
    border-radius: 7px;
    padding: 5px;
    background-color: black;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 15vh);
    grid-template-rows: minmax(13vw, auto) repeat(5, 10vh);
    max-height: 100vh;
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2vw;
    border: 1px solid #FFFFFF; 
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid>button:hover {
    background-color: #a9a9a9;
}

.span-two {
    grid-column: span 2;
    color: #00c3ff;
    background-color: rgba(139, 0, 139, 0.8);
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.90);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 2vw;
}

.output .current-operand {
    color: white;
    font-size: 3vw;
}

@media only screen and (max-width: 1550px) {
    .calculator-grid {
        grid-template-columns: repeat(4, 17vh);
        grid-template-rows: minmax(13vw, auto) repeat(5, 10vh);
    }
    .calculator-grid>button {
        cursor: pointer;
        font-size: 2vw;
    }
    .output {
        padding: 60px;
    }
    .output .previous-operand {
        margin-bottom: 30px;
        font-size: 3vw;
    }
    .output .current-operand {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 830px) {
    .calculator-grid {
        grid-template-columns: repeat(4, 17vh);
        grid-template-rows: minmax(13vw, auto) repeat(5, 10vh);
    }
    .calculator-grid>button {
        cursor: pointer;
        font-size: 5vw;
    }
    .output {
        padding: 30px;
    }
    .output .previous-operand {
        font-size: 3vw;
    }
    .output .current-operand {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 430px) {
    .calculator-grid {
        grid-template-columns: repeat(4, 15vh);
        grid-template-rows: minmax(13vw, auto) repeat(5, 7vh);
    }
    .calculator-grid>button {
        cursor: pointer;
        font-size: 6vw;
    }
    .output {
        padding: 30px;
    }
    .output .previous-operand {
        font-size: 6vw;
    }
    .output .current-operand {
        font-size: 9vw;
    }
}

@media only screen and (max-width: 300px) {
    .calculator-grid {
        grid-template-columns: repeat(4, 12vh);
        grid-template-rows: minmax(13vw, auto) repeat(5, 7vh);
    }
    .calculator-grid>button {
        cursor: pointer;
        font-size: 6vw;
    }
    .output {
        padding: 30px;
    }
    .output .previous-operand {
        font-size: 6vw;
    }
    .output .current-operand {
        font-size: 9vw;
    }
}
