html,
body {
    height: 100%;
    margin: 0;
}

#main-container {
    background-color: #b5e6fc;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc-btn {
    height: 25vh;
    width: 25vw;
    background-color: #5a64bc;
    border: 5px solid #baa6ff;
    border-radius: 20px;
}

#calc-text {
    font-size: 5vh;
    color: #F7F7F7;
}